<!-- <div class="toolbar" role="banner">
    <mat-toolbar class="menu">
        <a class="opmenu" mat-button routerlink="/principal">
            <img alt="adidas" class="img-nav" src="assets\img\icon-adidas-logo.svg" />
        </a>
        <span class="spacer"></span>
        <button mat-icon-button class="icon" aria-label="Login">
        Login<mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>

</div>
  <mat-sidenav-container class="content">
        <mat-sidenav-content>
            <mat-toolbar class="header">
            </mat-toolbar>
            <div>
                <app-create-team></app-create-team>
            </div>
            <footer>
                <div>
                    <small><a routerlink="/">Terms of Service</a></small>
                    <small>|</small>
                    <small><a routerlink="/">Privacy policy</a></small>
                    <small>|</small>
                    <small><a routerlink="/">Manage cookie preferences</a></small>
                </div>
            </footer>
        </mat-sidenav-content>
    </mat-sidenav-container>-->
<app-navigation></app-navigation>
<router-outlet></router-outlet>