<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Choose your team</p>
    <mat-form-field appearance="fill">
      <mat-label>Teams</mat-label>
      <mat-select [(value)]="_selectedTeam" (valueChange)="changeTeam()">
        <mat-option [value]="team" *ngFor="let team of _listTeams"> <mat-icon>flag</mat-icon>{{'
          '+team.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <section class="example-section">
      <mat-checkbox class="example-margin">De</mat-checkbox>
      <mat-checkbox class="example-margin">Mi</mat-checkbox>
      <mat-checkbox class="example-margin">At</mat-checkbox>
      <mat-checkbox class="example-margin">Gk</mat-checkbox>
      <mat-checkbox class="example-margin">Dt</mat-checkbox>
    </section>
    <mat-list *ngIf="_selectedTeam">
      <div mat-subheader>Players of {{_selectedTeam.area.name}}</div>
      <mat-list-item *ngFor="let player of _selectedTeam.squad" (click)="drawer.toggle();choosePlayer(player)">
        <mat-icon matListItemIcon>person</mat-icon>
        <div matListItemTitle>{{player.name + " - " + player.position}}</div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content image">
    <mat-card class="flex-container">
      <mat-card-content>
        <p>{{_alertMsg}}</p>
        <div class="team-row">
          <button *ngFor="let att of _field.attackers" class="player" type="button" mat-button
            (click)="drawer.toggle();selectPlayer(att.position)">
            {{att.name ? att.name : att.position}}
          </button>
        </div>
        <div class="player" class="team-row">
          <button *ngFor="let mid of  _field.midfielders" class="player" type="button" mat-button
            (click)="drawer.toggle();selectPlayer(mid.position)">
            {{mid.name ? mid.name : mid.position}}
          </button>
        </div>
        <div class="team-row">
          <button *ngFor="let def of  _field.defenders" class="player" type="button" mat-button
            (click)="drawer.toggle();selectPlayer(def.position)">
            {{def.name ? def.name : def.position}}
          </button>
        </div>
        <div class="team-row">
          <button *ngFor="let gk of  _field.goalkeepers" class="player" type="button" mat-button
            (click)="drawer.toggle();selectPlayer(gk.position)">
            {{gk.name ? gk.name : gk.position}}
          </button>
        </div>
        <div class="team-row">
          <button class="player" type="button" mat-button (click)="drawer.toggle();selectPlayer(_field.coach)">
            {{ _field.coach}}
          </button>
        </div>
        <div>
          <button mat-raised-button color="primary" type="button" (click)="saveField()">Save team</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <a
    href="https://www.freepik.es/vector-gratis/ilustracion-estadio-futbol-futbol-realista_13399208.htm#page=2&query=cancha%20futbol&position=10&from_view=search&track=ais">Imagen
    de pikisuperstar en Freepik</a>
</mat-drawer-container>