<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
        <mat-toolbar class="menu toolbar">
            <a class="opmenu" mat-button routerlink="/principal">
                <img href="https://www.adidas.es/" alt="https://www.adidas.es/" class="img-nav"
                    src="assets\img\icon-adidas-logo.svg" placeholder="https://www.adidas.es/" />
            </a>
            <span class="spacer"></span>
            <button mat-icon-button class="icon" aria-label="Login">
                Login<mat-icon>person</mat-icon>
            </button>
        </mat-toolbar>
        <mat-toolbar class="navbar header">
            <div>
                <span>Fantasy World Cup 2022</span>
            </div>
        </mat-toolbar>
        <app-create-team></app-create-team>
        <footer>
            <div>
                <span class="footerSpace"><a routerlink="/">Terms of Service</a></span>
                <span class="footerSpace">|</span>
                <span class="footerSpace"><a routerlink="/">Privacy policy</a></span>
                <span class="footerSpace">|</span>
                <span class="footerSpace"><a routerlink="/">Manage cookies</a></span>
            </div>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>